@charset "UTF-8";
                                                                                                                                               /* 
This is the main stylesheet file. To keep things easier to read we don't actually write any css here. Instead we import a bunch of other partial files.
In Sass a partial has the following properties:

- it starts with an underscore _
- it is not automatically processed, you have to @import it
- if it ends with .scss then you can write normal css or write sass or a combination

Also, FYI, this is an example of a comment that won't get erased or compressed when Sass creates the CSS file. Putting the ! after the opening /* tells Sass not to touch it.
*/
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*CSS Reset*/
/* line 21, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 38, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 CSS for <iframe> embedded element
   ===================================== */
/* line 6, ../scss/_global.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /* if your video is 4:3 ratio then use the padding-bottom below:*/
  /*padding-bottom: 75%;*/
  /* 4:3 */
  padding-top: 25px;
  /* may need to adjust depending on the size of the player controls of the service you use */
  height: 0;
}

/* line 16, ../scss/_global.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

/* line 25, ../scss/_global.scss */
img, video {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1em;
}

/* apply a natural box layout model to all elements */
/* line 30, ../scss/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Flexible iFrame */
/* line 36, ../scss/_global.scss */
.mapWrapper {
  position: relative;
  padding-bottom: 95%;
  /* 
  do math with the height of your iframe divided by the width, then converted to percent
  in this example the height is 400 and the width is 600
  400 / 600 = .66666667 
  which is 66.6666667% */
  height: 0;
}

/* line 46, ../scss/_global.scss */
.mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end of frame */
@media only screen and (min-width: 30.0625em) {
  /* line 57, ../scss/_global.scss */
  body {
    font-size: 100%;
    line-height: 1.5;
  }

  /* line 58, ../scss/_global.scss */
  h1 {
    font-size: 2em;
    line-height: 1.1;
  }

  /* line 59, ../scss/_global.scss */
  h2 {
    font-size: 1.8em;
    line-height: 1.1;
  }

  /* line 60, ../scss/_global.scss */
  h3 {
    font-size: 1.6em;
    line-height: 1.1;
  }

  /* line 61, ../scss/_global.scss */
  h4 {
    font-size: 1.4em;
    line-height: 1.1;
  }

  /* line 62, ../scss/_global.scss */
  h5 {
    font-size: 1.2em;
    line-height: 1.1;
  }

  /* line 63, ../scss/_global.scss */
  h6 {
    font-size: 1.1em;
    line-height: 1.1;
  }
}
@media only screen and (min-width: 45em) {
  /* line 67, ../scss/_global.scss */
  body {
    font-size: 100%;
    line-height: 1.5;
  }

  /* line 68, ../scss/_global.scss */
  h1 {
    font-size: 3em;
    line-height: 1.1;
  }

  /* line 69, ../scss/_global.scss */
  h2 {
    font-size: 2.5em;
    line-height: 1.1;
  }

  /* line 70, ../scss/_global.scss */
  h3 {
    font-size: 2em;
    line-height: 1.1;
  }

  /* line 71, ../scss/_global.scss */
  h4 {
    font-size: 1.8em;
    line-height: 1.1;
  }

  /* line 72, ../scss/_global.scss */
  h5 {
    font-size: 1.4em;
    line-height: 1.1;
  }

  /* line 73, ../scss/_global.scss */
  h6 {
    font-size: 1.1em;
    line-height: 1.1;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 78, ../scss/_global.scss */
  h1 {
    font-size: 4.5em;
    line-height: 1.1;
  }
}
@media only screen and (min-width: 75em) {
  /* line 87, ../scss/_global.scss */
  h1 {
    font-size: 5em;
    line-height: 1.1;
  }

  /* line 88, ../scss/_global.scss */
  h2 {
    font-size: 3em;
    line-height: 1.1;
  }
}
/* header, body, and p */
/* line 99, ../scss/_global.scss */
h1 {
  text-align: center;
  color: #60F;
  font-size: 3em;
  padding-top: 10px;
}

/* line 106, ../scss/_global.scss */
h2 {
  color: #60F;
  text-align: center;
  font-size: 2.5em;
}

/* line 113, ../scss/_global.scss */
body, p {
  text-align: left;
  font-size: 100%;
  line-height: 1.3;
  font-family: sans-serif;
}

/* line 120, ../scss/_global.scss */
body {
  background-color: #FFFFEB;
}

/* line 124, ../scss/_global.scss */
h3 {
  color: #069;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  line-height: 2.0;
}

/* line 132, ../scss/_global.scss */
h4 {
  color: #C60;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 139, ../scss/_global.scss */
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #006;
}

/* line 147, ../scss/_global.scss */
header {
  height: 150px;
  border: 2px dotted #FFFFCC;
  clear: both;
  margin: 0 0;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 153, ../scss/_global.scss */
header .navigation nav {
  width: 100%;
}
/* line 158, ../scss/_global.scss */
header header {
  width: 75%;
  padding: 0 15px;
  float: left;
}
@media only screen and (min-width: 67.5em) {
  /* line 164, ../scss/_global.scss */
  header header {
    width: 100%;
    padding: 0 15px;
    float: left;
  }
}

/* line 172, ../scss/_global.scss */
footer {
  color: #C60;
  width: 50%;
  padding: 0 15px;
  float: left;
  text-align: right;
}

/* line 178, ../scss/_global.scss */
p.presenter {
  font-style: italic;
  color: #960;
}

/* end of body */
/* picture */
/* line 185, ../scss/_global.scss */
.set {
  width: 50%;
  float: left;
  padding: 0 2%;
}

/* line 191, ../scss/_global.scss */
.pic {
  float: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* nav and links */
/* line 2, ../scss/_navigation.scss */
#nav {
  display: inline;
  text-align: left;
  clear: both;
}

/* line 9, ../scss/_navigation.scss */
#nav ul {
  overflow: hidden;
  list-style-type: none;
  text-decoration: none;
}

/* line 16, ../scss/_navigation.scss */
#nav li {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

/* line 22, ../scss/_navigation.scss */
li a {
  float: left;
  border-bottom: 1px solid #eee;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  display: block;
  color: #039;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  font-weight: 900;
  padding: 0.625em;
}

/* line 37, ../scss/_navigation.scss */
#nav li a:hover {
  color: #F93;
}

/* line 42, ../scss/_navigation.scss */
#active a {
  display: inline;
  color: #F00;
  text-decoration: none;
}

/* line 48, ../scss/_navigation.scss */
a:link {
  color: #66ffb3;
}

/* line 52, ../scss/_navigation.scss */
a:visited {
  color: #00C;
}

/* line 56, ../scss/_navigation.scss */
a {
  text-decoration: none;
}

/* end of nav and links */
/* menu button */
/* line 66, ../scss/_navigation.scss */
.menu a {
  padding: 0.5em 0.625em;
  /*10/16 */
  background-color: #555;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

/* line 74, ../scss/_navigation.scss */
.menu a:hover {
  color: #555;
  background-color: #f90;
}

/* line 79, ../scss/_navigation.scss */
.menu {
  margin-bottom: 1em;
}

/* end of menu */
/* 
==========================
Index Page (homepage)
========================== 
*/
/* line 13, ../scss/pages/_index.scss */
.ant {
  background-color: #99CCFF;
  border: 1px solid green;
}

/* line 20, ../scss/pages/_index.scss */
.bee {
  background-color: #A8D1E5;
  border: 1px solid green;
}

/* line 25, ../scss/pages/_index.scss */
.croc {
  background-color: #F0FFFF;
  border: 1px solid green;
}

/* line 32, ../scss/pages/_index.scss */
.dog {
  background-color: #CCFFFF;
  border: 1px solid green;
}

/* line 37, ../scss/pages/_index.scss */
session, .video, .speak, .block, .sch {
  width: 100%;
  padding: 20%;
  margin: 5px auto;
  padding: 2px 8px;
  /*postion:relative;*/
}

/* picture */
/* line 46, ../scss/pages/_index.scss */
.set {
  width: 50%;
  float: left;
  padding: 0 2%;
}

/* line 52, ../scss/pages/_index.scss */
.pic, .banner {
  float: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* end of main content */
@media only screen and (min-width: 45em) {
  /* line 60, ../scss/pages/_index.scss */
  #home {
    background-color: #FFFFE0;
  }
  /* line 71, ../scss/pages/_index.scss */
  #home h3 {
    text-align: center;
  }
  /* line 76, ../scss/pages/_index.scss */
  #home #first {
    width: 100%;
    padding: 0 15px;
    float: left;
  }
  /* line 81, ../scss/pages/_index.scss */
  #home #first h2 {
    font-size: 1.6em;
  }
  /* line 86, ../scss/pages/_index.scss */
  #home #first p {
    line-height: 1.4em;
  }
  /* line 94, ../scss/pages/_index.scss */
  #home #second {
    width: 33.33333%;
    padding: 0 15px;
    float: left;
  }
  /* line 98, ../scss/pages/_index.scss */
  #home #second p {
    line-height: 1.6em;
  }
  /* line 106, ../scss/pages/_index.scss */
  #home #third {
    width: 33.33333%;
    padding: 0 15px;
    float: left;
  }
  /* line 110, ../scss/pages/_index.scss */
  #home #third, #home h4 {
    text-align: center;
  }
  /* line 117, ../scss/pages/_index.scss */
  #home #fourth {
    width: 33.33333%;
    padding: 0 15px;
    float: left;
  }
  /* line 124, ../scss/pages/_index.scss */
  #home #nav {
    width: 100%;
    padding: 0 15px;
    float: left;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 60, ../scss/pages/_index.scss */
  #home {
    background-color: #F5FFF5;
  }
  /* line 135, ../scss/pages/_index.scss */
  #home #first {
    width: 25%;
    padding: 0 15px;
    float: left;
  }
  /* line 140, ../scss/pages/_index.scss */
  #home #second {
    width: 25%;
    padding: 0 15px;
    float: left;
  }
  /* line 144, ../scss/pages/_index.scss */
  #home #third {
    width: 25%;
    padding: 0 15px;
    float: left;
  }
  /* line 148, ../scss/pages/_index.scss */
  #home #fourth {
    width: 25%;
    padding: 0 15px;
    float: left;
  }
  /* line 153, ../scss/pages/_index.scss */
  #home #nav {
    width: 100%;
    padding: 0 15px;
    float: left;
  }
}
@media only screen and (min-width: 75em) {
  /* line 60, ../scss/pages/_index.scss */
  #home {
    background-color: blue;
    color: white;
  }
}

/*main content */
/* line 4, ../scss/pages/_schedule.scss */
.ant {
  background-color: #99CCFF;
  border: 1px solid green;
}

/* line 11, ../scss/pages/_schedule.scss */
.bee {
  background-color: #A8D1E5;
  border: 1px solid green;
}

/* line 16, ../scss/pages/_schedule.scss */
.croc {
  background-color: #F0FFFF;
  border: 1px solid green;
}

/* line 23, ../scss/pages/_schedule.scss */
.dog {
  background-color: #CCFFFF;
  border: 1px solid green;
}

/* end of main content */
/* line 29, ../scss/pages/_schedule.scss */
.session, .video, .speak, .block, .sch {
  width: 100%;
  padding: 20%;
  margin: 5px auto;
  padding: 2px 8px;
  /*postion:relative;*/
}

@media only screen and (min-width: 45em) {
  /* line 38, ../scss/pages/_schedule.scss */
  #sch {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 38, ../scss/pages/_schedule.scss */
  #sch {
    background-color: yellow;
  }
}
@media only screen and (min-width: 75em) {
  /* line 38, ../scss/pages/_schedule.scss */
  #sch {
    background-color: blue;
    color: white;
  }
}

/*main content */
/* line 6, ../scss/pages/_speakers.scss */
.ant {
  background-color: #99CCFF;
  border: 1px solid green;
}

/* line 13, ../scss/pages/_speakers.scss */
.bee {
  background-color: #A8D1E5;
  border: 1px solid green;
}

/* line 18, ../scss/pages/_speakers.scss */
.croc {
  background-color: #F0FFFF;
  border: 1px solid green;
}

/* line 25, ../scss/pages/_speakers.scss */
.dog {
  background-color: #CCFFFF;
  border: 1px solid green;
}

/* end of main content */
/* line 31, ../scss/pages/_speakers.scss */
.session, .video, .speak, .block, .sch {
  width: 100%;
  padding: 20%;
  margin: 5px auto;
  padding: 2px 8px;
  /*postion:relative;*/
}

@media only screen and (min-width: 45em) {
  /* line 39, ../scss/pages/_speakers.scss */
  #speak {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 39, ../scss/pages/_speakers.scss */
  #speak {
    background-color: yellow;
  }
}
@media only screen and (min-width: 75em) {
  /* line 39, ../scss/pages/_speakers.scss */
  #speak {
    background-color: blue;
    color: white;
  }
}

/* line 2, ../scss/pages/_about.scss */
#about {
  /*main content */
  /* end of main content */
}
/* line 6, ../scss/pages/_about.scss */
#about .session, #about .video, #about .speak, #about .block, #about .sch {
  width: 100%;
  padding: 20%;
  margin: 5px auto;
  padding: 2px 8px;
  /*postion:relative;*/
}
/* line 15, ../scss/pages/_about.scss */
#about .ant {
  background-color: #99CCFF;
  border: 1px solid green;
}
/* line 22, ../scss/pages/_about.scss */
#about .bee {
  background-color: #A8D1E5;
  border: 1px solid green;
}
/* line 27, ../scss/pages/_about.scss */
#about .croc {
  background-color: #F0FFFF;
  border: 1px solid green;
}
/* line 34, ../scss/pages/_about.scss */
#about .dog {
  background-color: #CCFFFF;
  border: 1px solid green;
}
@media only screen and (min-width: 45em) {
  /* line 2, ../scss/pages/_about.scss */
  #about {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 2, ../scss/pages/_about.scss */
  #about {
    background-color: yellow;
  }
}
@media only screen and (min-width: 75em) {
  /* line 2, ../scss/pages/_about.scss */
  #about {
    background-color: blue;
    color: white;
  }
}

/*main content */
/* line 6, ../scss/pages/_sessions.scss */
.ant {
  background-color: #99CCFF;
  border: 1px solid green;
}

/* line 13, ../scss/pages/_sessions.scss */
.bee {
  background-color: #A8D1E5;
  border: 1px solid green;
}

/* line 18, ../scss/pages/_sessions.scss */
.croc {
  background-color: #F0FFFF;
  border: 1px solid green;
}

/* line 25, ../scss/pages/_sessions.scss */
.dog {
  background-color: #CCFFFF;
  border: 1px solid green;
}

/* end of main content */
/* line 31, ../scss/pages/_sessions.scss */
.session, .video, .speak, .block, .sch {
  width: 100%;
  padding: 20%;
  margin: 5px auto;
  padding: 2px 8px;
  /*postion:relative;*/
}

@media only screen and (min-width: 45em) {
  /* line 40, ../scss/pages/_sessions.scss */
  #sess {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 40, ../scss/pages/_sessions.scss */
  #sess {
    background-color: yellow;
  }
}
@media only screen and (min-width: 75em) {
  /* line 40, ../scss/pages/_sessions.scss */
  #sess {
    background-color: blue;
    color: white;
  }
}

/* line 5, ../scss/pages/_video.scss */
.session, .video, .speak, .block, .sch {
  width: 100%;
  padding: 20%;
  margin: 5px auto;
  padding: 2px 8px;
  /*postion:relative;*/
}

/*main content */
/* line 14, ../scss/pages/_video.scss */
.ant {
  background-color: #99CCFF;
  border: 1px solid green;
}

/* line 21, ../scss/pages/_video.scss */
.bee {
  background-color: #A8D1E5;
  border: 1px solid green;
}

/* line 26, ../scss/pages/_video.scss */
.croc {
  background-color: #F0FFFF;
  border: 1px solid green;
}

/* line 33, ../scss/pages/_video.scss */
.dog {
  background-color: #CCFFFF;
  border: 1px solid green;
}

/* end of main content */
@media only screen and (min-width: 45em) {
  /* line 39, ../scss/pages/_video.scss */
  #vid {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 39, ../scss/pages/_video.scss */
  #vid {
    background-color: yellow;
  }
}
@media only screen and (min-width: 75em) {
  /* line 39, ../scss/pages/_video.scss */
  #vid {
    background-color: blue;
    color: white;
  }
}
