
/* 
==========================
Index Page (homepage)
========================== 
*/

/* Default Styling */
	
.ant {
	background-color:#99CCFF;
	border: 1px solid green; 

 
}

.bee {
	background-color:#A8D1E5;
	border: 1px solid green; 
}

.croc {
	background-color:#F0FFFF;
	border: 1px solid green; 


}

.dog {
	background-color:#CCFFFF;
	border: 1px solid green; 
	}
/* end of main content */

.session, .video, .speak, .block, .sch {
	width: 100%;
	padding:20%;
	margin:5px auto;
	padding:2px 8px; 
	/*postion:relative;*/  
	}

	/* picture */
.set {
	width: 50%;
	float:left;
	padding: 0 2%;
}

.pic, .banner {
	float:inherit;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


	 /*Media Queries Styling and layout*/
	 @include breakpoint(medium){
	 	
	 
	 #first {
	 	@include set-row;
	 } 
	  

	  #first {
			@include col(1,4);
			padding-bottom:90px;
		}
	
	#second {
		@include col(1,4);
		
	}

	#third {
         @include col(1,4);
	}

	#fourth {
		@include col(1,4);
	}
     
     #banner {
     	max-width:60%;
     	max-height:20%;
     	float:right;
     	
     }  

     footer {
     	padding-left:400px;
     }

 
}



	
